
.container{
    display: inline;
    
}
.home{
    border-collapse:separate;
    border-spacing:30px 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content:center;
    align-items:center;
    margin-bottom: -30px;
   }
.img{
    width: 210px;
    height: 155px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20px;
    background-color: black;
   }
    .img:hover  {
     opacity: 0.6;
    }
 
th {
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 20px;
}
th:hover  {
    opacity: 0.4;
   }


    
