
.container{
    display: inline;
}
.welcome{
    border-collapse:separate;
    border-spacing:20px 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content:center;
    align-items:center;
    margin-bottom: -30px;
}
.img{
    width: 220px;
    height: 150px;
    opacity: 2;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 15px;
    opacity: 2;
    transition: .5s ease;
    backface-visibility: hidden;
    }
    .img:hover  {
     opacity: 0.6;
    }
 
th {
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 20px;
}
th:hover  {
    opacity: 0.4;
   }


    
