* {
    box-sizing: border-box;
  }
  .royal{
    position: fixed;
}

.royalimg {
    border: none;
    border-radius: 15px;
    width: 550px;
    height: 350px;
    opacity: 2;
    transition: .5s ease;
    backface-visibility: hidden;
    resize: vertical;
    display: inline;
    margin-left: 4%;
    border: rgb(182, 179, 179);
    margin-top: 3%;
}

.royalinfo {
float: left;
margin-left: 65%;
margin-top: -25%;
position: fixed;  
}

.royalsocial {
    float: left;
    margin-left: 70%;
    margin-top: -10%;
    position: fixed;  
}

h1 {
    font-size: 40px;
    color: #F69624 ;
    font-family: 'Ubuntu' bold;
}

h2 {
    font-size: 20px;
    font-family: 'Ubuntu';
    margin-top: 10%;
}

h3 {
    font-size: 20px;
    font-family: 'Ubuntu';
    margin-top: 10%;
}