#login{
    float: right;
    margin-left: 80%;
    margin-top: 0%;
    font-weight: bold;
    font-family: "Ubuntu";
}

.header{
    display:fixed;
    position: relative;
   
}
.appbar{
    margin-top: 0;
    background-color: white;
}
#fooddose{
    font: 45px 'Ravi Prakash', cursive ;
    color: #F69624;
    margin-top: 0%;

}