
.container{
    display: inline;
}
table{
    border-collapse:separate;
    border-spacing:30px 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content:center;
    align-items:center;
}
 .imag{
    width: 200px;
    height: 150px;
    opacity: 2;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20px;
    }
    .imag:hover  {
     opacity: 0.4;
    }
 
th {
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 20px;
}
th:hover  {
    opacity: 0.4;
   }